h1 {text-transform: uppercase; text-align: left; font-size:38px;}

.preview {display: inline-block; margin-bottom: 20px; clear: both; overflow: hidden; width: 180px; height: 180px;}
.preview img {max-width: 100%;}

select {width: 100%; padding:10px 15px;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {background-image:none; font-size: 14px;}

.ui-tooltip {
    padding: 10px 20px;
    color: #fff;
    background-color:#000 !important;
    background-image: none;
    border:16px solid #35ab9c !important;
    font-family: 'Roboto' , sans-serif;
    font-weight: 300;
    font-size: 16px;
  }